<html>
<head>
<title>CHILD RELATED CRIME</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/child.css">
<link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
</head>
<body>

<div class="content">
  <h1 ><b><u>**CHILD RELATED CRIME**</u></b></h1>
  <h4><p>Children, who by definition require the guardianship and care of adults, are among the most vulnerable and innocent victims of crimes. Crimes against children include physical and emotional abuse; neglect; and exploitation, such as through child pornography or sex trafficking of minors. Child-related crimes often are perpetrated by parents, relatives, caretakers, and others who are charged with their care and guidance. School officials, physicians, police officers, and other such authority figures are required to report any signs of abuse or exploitation against a child. The following articles cover child abuse, statutory rape, child pornography, sexting, and other crimes against children..</p></h4>
  <ul>
  <li>CHILD ABUSE</li>
  <li>CHILD PORNOGRAPHY</li>
  <li>CHILD ABANDONMENT</li>
  <li>STATUTORY RAPE</li>
  <h3>OFFENCES AGAINST CHILDREN.</h3>
 

            <p>There is no separate classification of offences categorised as offences against children.  Generally, the offences committed against children or the crimes in which children are the victims are considered as Crime against Children.  The general penal code of this country and the various protective and preventive `Special and Local Laws' specifically mention the offences wherein children are known to be victims.  Such offences are construed as Crimes Against Children for the purpose of analysis in this chapter.

 

            It is also to be borne in mind that the offences that are analysed in this chapter do not form an exclusive block of offences that are reported in the country. They are included in the IPC/SLL cases already discussed. The offences here-in this chapter have been culled out from various reported crimes in the country wherein the victims of the penal offences are children.

 

            The data on crimes against children is compiled through the revised annual returns w.e.f. year 2001. Till 2000, cumulative totals of crime statistics available on monthly basis were used for this analysis. The revised annual returns have additional heads like `murder of children’ and `other unspecified crimes’. Therefore, incidents of crimes against children during 2001 and later years may not be comparable with the figures of 2000 or prior years.</p>
<h2 style="color:black">CLICK BELOW TO REGISTER YOUR COMPLAINT</h2>
     <a href="/form">REGISTER YOUR COMPLAINT.</a>
  
</div> 
<div class="footer">
  <p>
        <a href="/crimeportal">Home</a>
          |
          <a href="#Blog">Blog</a>
          |
          <a href="#About">About</a>
          |
          <a href="/contactus">Contact</a>
        </p></div>
        <div id="copyright">
      &copy; Copyright 2020,ALL RIGHTS RESERVED..
      DaTa PiRaTeS :)
    </div>

</body>
</html>
