<!DOCTYPE html>
<html>
<head>
<title>CONTACT US</title>
<style>
html{
	background-color:#38bdc9;	
}
.fake{
	margin-left:110px;

}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div style="height:200px">
<div>
<h1><b><marquee>***<font color="light blue">CONTACT THESE FOR FURTHER  INFORMATION***</marquee></b></h1>
<img src="contact us.png" class="fake" >
</div>
</body>
</head>
</html>

