<html>
  <head>
    <title>CRIME PORTAL</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/crimeportal.css">
  <link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
  <body>

    <div class="header" id="new">
      <h1><img src="../images/logo.png" id="logo">...::CRIME PORTAL::...</h1>
    </div>
    
    <div class="navbar">
      <% if(currentUser) { %>
      <a href="HOME" class="active">HOME</a>
      <a href="/womenrelatedcrime" target="_blank">WOMEN RELATED CRIME</a>
      <a href="/CHILD" target="_blank">CHILD RELATED CRIME</a>
      <a href="/cyber" target="_blank">CYBER CRIME</a>
      <a href="/contactus" target="_blank" class="right">CONTACT US</a>
      <a class="nav-link text-white" href="#"><%= currentUser.firstname +" "+ currentUser.lastname %></b></a>
      <a href="/password/change" class="x">CHANGE PASSWORD</a>
      <a href="/logout" class="x">LOGOUT</a>
      <% } %>
    </div>
    
    <div class="row">
      <div class="side">
        <h2>ABOUT US.</h2>
        <h5>PHOTOS OF CRIME:</h5>
        <img src="../images/reportcybercrime.jpg"style="height:300px;">
        <p><b>A crime (or misdemeanor or felony) is an act done by a person which is against the laws of a country or region. A person who does this is called a criminal.
    
    The basic idea of what things are called "crimes" is that they are thought to be things that might cause a problem for another person. Things like killing another person, injuring another person, or stealing from another person are crimes in most countries. Also, it can be a crime to have or sell contraband such as guns or illegal drugs.
    
    When some criminals make money from crime, they try to stop the police finding out where the money came from by money laundering.</b</p>
        <h3><b><i>LEVEL OF CRIME.</i><b></h3>
        <p><ul>
        <li><b><u>Misdemeanor</b></u> - a minor crime, typically punished by a fee or less than 1 year in jail.</li>
    <li><b><u>Felony (or high</u> crime)</b> - a major crime, typically punished by 1 year or longer in prison.</li>
    <li><b><u>Mens rea</b> - </u>occurs when the offence is committed with intent or knowledge or recklessness (guilty mind)</li>
    <li><b><u>Actus rea</b> -</u> a wrongful deed</li>
    </ul></p>
        <img src="../images/Misdemeanor.jpg" style="height:200px;">
        <img src="../images/felony.jfif" style="height:200px;">
        <img src="../images/mensrea.jfif" style="height:200px;">
        <img src="../images/actus-reus.jpg" style="height:200px;">
      <div class="footer">
      <p class="footer-links">
              <a href="#">Home</a>
              |
              <a href="/Blog">Blog</a>
              |
              <a href="/About">About</a>
              |
              <a href="/contactus">Contact</a>
            </p>
            <div id="copyright">
          &copy; Copyright 2020,ALL RIGHTS RESERVED..
          DaTa PiRaTeS :)
        </div>
    
    </div>
    <iframe src="https://links.collect.chat/5e33b5c633541d6404e8b510"  width="100%" height="600" frameBorder="0"></iframe>
    
    
    </body>
    </html>
    