<html>
<head>
<title>CYBER CRIME</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/loginstyle.css">
<link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
</head>
<body>

  <div class="content">
    <h1 ><b><u>**CYBER CRIME**</u></b></h1>
    <h4><p>
    Cybercrime, or computer-oriented crime, is a crime that involves a computer and a network.[1] The computer may have been used in the commission of a crime, or it may be the target.[2] Cybercrimes can be defined as: "Offences that are committed against individuals or groups of individuals with a criminal motive to intentionally harm the reputation of the victim or cause physical or mental harm, or loss, to the victim directly or indirectly, using modern telecommunication networks such as Internet (networks including chat rooms, emails, notice boards and groups) and mobile phones (Bluetooth/SMS/MMS)".[3] Cybercrime may threaten a person or a nation's security and financial health.[4] Issues surrounding these types of crimes have become high-profile, particularly those regarding hacking, copyright infringement, unwarranted mass-surveillance, sextortion, child pornography, and child grooming.[3]
  
  There are many privacy concerns surrounding cybercrime when confidential information is intercepted or disclosed, lawfully or otherwise. Debarati Halder and K. Jaishankar further define cybercrime from the perspective of gender and defined 'cybercrime against women' as "Crimes targeted against women with a motive to intentionally harm the victim psychologically and physically, using modern telecommunication networks such as internet and mobile phones".[3] Internationally, both governmental and non-state actors engage in cybercrimes, including espionage, financial theft, and other cross-border crimes. Cybercrimes crossing international borders and involving the actions of at least one nation-state is sometimes referred to as cyberwarfare.
    </p></h4>
    <img src="../images/cy.jfif" class="fake";>
  <h2 style="color:black">CLICK BELOW TO REGISTER YOUR COMPLAINT</h2>
       <a href="/form">REGISTER YOUR COMPLAINT.</a>
    
  </div> 
  <div class="footer">
    <p>
          <a href="/crimeportal">Home</a>
            |
            <a href="#Blog">Blog</a>
            |
            <a href="#About">About</a>
            |
            <a href="/contactus">Contact</a>
          </p></div>
          <div id="copyright">
        &copy; Copyright 2020,ALL RIGHTS RESERVED..
        DaTa PiRaTeS :)
      </div>
  
  </body>
  </html>
  
