<html>

<head>
  <title>LOGIN</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/loginstyle.css">
  <link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">

</head>

<body>
  <h1 class="text-center mt-5 mb-3">Login</h1>
  <%- include('partials/messages') -%>
  <form action="/login" method="POST">
    <div class="imgcontainer">
      <img src="../images/login image.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">

      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Your Email" name="email" required>


      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Your Password" name="password" required>

      <a class="float-right mt-0 mb-3 text-danger" href="#">Forgot Password?</a>
      <button type="submit" class="btn btn-danger btn-block">Login</button>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <a href="/signup" class="btn btn-success btn-block">Sign Up</a>
    </div>


  </form>
</body>