<html>
<head>
  <title>newpassword</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/crimeportal.css">
  <link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
</head>
<body>

  <div class="header" id="new">
    <h1><img src="../images/logo.png" id="logo">...::CRIME PORTAL::...</h1>
  </div>
  
  <div class="navbar">
    <a href="/crimeportal" class="active">HOME</a>
    <a href="/womenrelatedcrime" target="_blank">WOMEN RELATED CRIME</a>
    <a href="/CHILD" target="_blank">CHILD RELATED CRIME</a>
    <a href="/cyber" target="_blank">CYBER CRIME</a>
    <a href="/contactus" target="_blank" class="right">CONTACT US</a>
    <a href="#" class="x">CHANGE PASSWORD</a>
    <a href="/logout" class="x">LOGOUT</a>
  </div>
<h1 class="text-center mt-5 mb-3">Change Password</h1>
<div class="container w-25">
<%- include('partials/messages') -%>
<form action="/reset/<%=token%>" method="POST">

    <div class="form-group px-0">
        <input type="password" name="password" class="form-control" placeholder="Password">
    </div>

    <div class="form-group px-0">
        <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password">
    </div>

    <button type="submit" class="btn btn-danger btn-block">Change Password</button>
</form>
</div>

</div>
<div class="footer">
  <p class="footer-links">
          <a href="/crimeportal">Home</a>
          |
          <a href="/Blog">Blog</a>
          |
          <a href="/About">About</a>
          |
          <a href="/contactus">Contact</a>
        </p>
        <div id="copyright">
      &copy; Copyright 2020,ALL RIGHTS RESERVED..
      DaTa PiRaTeS :)
    </div>
</body>
</html>
