<html>
<head>
  <title>SIGN UP PAGE</title>
  <link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/signupstyle.css">
</head>
<body>
  
   <div class="container">
     <h1>Sign Up</h1>
     <form  action="/signup" method="POST">
     <p>Please fill the form to create an account.</p>
     <label for="FIRST NAME" ><b>FIRST NAME</b></label>
     <div class="firstname">
     <input id="ed" type="TEXT" placeholder="Enter Your Name" name="firstname" required>
      </div><br>
      <label for="LAST NAME"><b>LAST NAME</b></label>
     <div class="lastname">
     <input id="ed" type="TEXT" placeholder="Enter Your Last name" name="lastname" required>
      </div><br>
     <label for="email"><b>Email</b></label>
     <div class="email">
     <input id="ed" type="TEXT" placeholder="Enter Email" name="email" required>
      </div><br>
     <label for="psw"><b>Password</b></label>
     <input id="pass" type="password" placeholder="Enter Password" name="password" required>

     <p>By creating an account you agree to our <a href="/terms" style="color:dodgerblue" target:"_blank">Terms & Privacy</a>.</p>

     <button type="submit" class="btn btn-danger btn-block">Register</button>
 </form>
 <a href="/login">Back to Login</a> 
</div>
</body>
</html>
