<html>
<head>
<title>WEB PORTAL</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/website.css">
<link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
</head>
<body>
<div class="header" id="new">
  <h1><img src="../images/logo.png" id="logo">..::WEB PORTAL FOR CRIME::..</h1></div>
 <h2 style="text-align: center;color:solid black">A <b>GOVT</b> OF <i>INDIA</i> INITIATIVE.</h2>
</div>
  
<div class="navbar">
  <a href="#HOME" class="active">Home</a>
  <b style="color:rgb(222, 233, 243);">Pls signup/login for Futher Exploring the Website</b>
  <a href="/login" class="right">login</a>
  <a href="/signup" class="right">signup</a>
</div>

<div class="row">
  <div class="side">
    <h2>About Us</h2>
    <p><b>Filing a Complaint on National Cyber Crime Reporting Portal.</b></p>
    <p><i>This portal is an initiative of Government of India to facilitate victims/complainants to report cyber crime complaints online. This portal caters to complaints pertaining to cyber crimes only with special focus on cyber crimes against women and children. Complaints reported on this portal are dealt by law enforcement agencies/ police based on the information available in the complaints. It is imperative to provide correct and accurate details while filing complaint for prompt action.</i></p>

  <p><b>Please contact local police in case of an emergency or for reporting crimes other than cyber crimes. National police helpline number is 100. National women helpline number is 1091.</b></p>
    <h3>More Gallery:</h3>
    <p></p>
    <audio controls>
  <source src="https://cybercrime.gov.in/UploadMedia/Audio1E.mp3" type="audio/ogg">
</audio>
  </div>
  <div class="main">
     <h5>Title description, jan 28, 2020</h5>
    <div class="fakeimg" style="height: 10px;">
    </div>
    <img src="../images/crime.jpg">
    <p><h3><i>The mission of the Internet Crime Complaint Center, also known as IC3, is to provide the public with a reliable and convenient reporting mechanism to submit information to the Federal Bureau of Investigation (FBI) concerning suspected Internet-facilitated criminal activity and to develop alliances with law enforcement and industry partners. Information is analyzed and disseminated for investigative and intelligence purposes to law enforcement and for public awareness.</i></h3></p>
    <br>
  </div>
</div><b>

<div class="footer">
  <p class="footer-links">
    <a href="/signup"class="stretched-link btn btn-primary">Novice to Website?</a>
    |
    <a href="/login" class="stretched-link btn btn-primary">Already Visited</a>
      </p>
        <div id="copyright">
      &copy; Copyright 2020,ALL RIGHTS RESERVED..
      DaTa PiRaTeS :)
    </div>
  <h2></h2>

</div>

</body>
</html>
