<html>
<head>
<title>WOMEN RELATED CRIME</title>
<link rel="stylesheet" type="text/css" href="../libs/womencrime.css">
  <link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
</head>
<body>

<div class="content">
  <h1 ><b><u>**WOMEN RELATED CRIME**</u></b></h1>
  <h3><p>Crime against women has been a bane of India's development efforts. With arcane customs like sex being a taboo in India, Sati, and Dowry, and the overall lower status of women further exacerbates these crimes.

From the last decade's crime statistics, we see sharp number of crimes registered under ‘Cruelty by Husband and his Relatives’. It also appears that the same category has had the most dramatic rise over the years.

This is a surprising insight since the popular media is rife with news of rapes, which appear to be the most rampant and high profile of all the crimes. No other crime has been given as much attention in the media than Rape, with a significant increase in the last few years owing to cases like the Delhi Gang Rape, Scarlett Keeling Case in Goa, etc. which made international headlines.

The hype in the media compels us to believe that rapes are on a dramatic rise. However, the data reveals that rapes have more or less followed a flat trend.

This raises a lot of questions - if the number of rapes was always the same (or this high), why all the sudden media attention? Where was the media in earlier years? Could the data hiding the truth for the last few years?. There could be any one or more of multiple possible explanations.</p></h3>
<img src="cyber.jfif" class="fake";>
<h2 style="color:black">CLICK BELOW TO REGISTER YOUR COMPLAINT</h2>
     <a href="/form">REGISTER YOUR COMPLAINT.</a>
  
</div> 



<div>
<div class="footer">
  <p class="footer-links">
          <a href="/crimeportal">Home</a>
          |
          <a href="#Blog">Blog</a>
          |
          <a href="#About">About</a>
          |
          <a href="/contactus">Contact</a>
        </p>
        <div id="copyright">
      &copy; Copyright 2020,ALL RIGHTS RESERVED..
      DaTa PiRaTeS :)
    </div>

</body>
</html>
