h1{
	color:red;
	text-align:center;
}

.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
}
#copyright{
  margin-top: 10px;
  border-top: 1px dashed black;
  padding-top:10px;
  font-size: 30px;
  text-align: center;
  color:black;
}
body {
  background:white;
}

.content {
  max-width: 1050px;
  margin: auto;
  background: #e6ffe6;
  padding: 10px;
  height: 1000px;
}
.fake{
	height:300px;
	margin-left:150px;
	margin-top:100px;
}